body {
  padding-bottom: 50px;
  background: black;
  height: 100%;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.nav span {
  color: #bd9d5f;
}

.nav ul {
  display: flex;
  padding: 8px 10px;
  justify-content: space-around;
}

.nav ul li {
  color: #443328;
  font-size: 13px;
  line-height: 24px;
  width: 26px;
  text-align: center;
  border-bottom: 2px #fff solid;
}

.nav ul li.active {
  color: #bd995e;
  border-bottom: 2px #dda956 solid;
}

.nav ul li:nth-child(2), .nav ul li:nth-child(3), .nav ul li:nth-child(4), .nav ul li:nth-child(5), .nav ul li:nth-child(6), .nav ul li:nth-child(7) {
  display: none;
}

.navs .swiper-container {
  height: 7.06667rem;
  background: url("../images/png_show@2x-bg.png") no-repeat;
  background-position-y: 80%;
  background-size: 100% 70%;
}

.navs .swiper-slide {
  display: flex;
  flex-direction: column;
}

.navs .swiper-slide .tab-text {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.53333rem;
}

.navs .swiper-slide .tab-text img {
  width: 1.92rem;
  height: 0.48rem;
}

.navs .swiper-slide .tab-text .foot-img {
  display: none;
  width: 3.62667rem;
  height: 0.24rem;
}

.navs .swiper-slide .tab-img {
  flex: 2;
  text-align: center;
  padding-top: -1.06667rem;
}

.navs .swiper-slide .tab-img img {
  width: 2.13333rem;
  height: 2.13333rem;
  pointer-events: none;
}

.card-box {
  width: 100%;
}

.card-box ul {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card-box ul li {
  position: relative;
  padding-left: 20px;
  width: 80vw;
}

.card-box ul li div {
  position: relative;
}

.card-box ul li div img {
  top: 0;
  left: 0;
  z-index: -1;
  position: relative;
  height: 188px;
  width: 325px;
}

.card-box ul li p {
  position: absolute;
  top: 50px;
  left: 140px;
  height: 200px;
}

.card-box ul li p img {
  width: 74px;
  height: 72px;
  padding-left: 5px;
}

.card-box ul li p span {
  width: 100px;
  font-size: 18px;
  position: absolute;
  top: 90px;
  left: -8px;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #bd995e;
  text-shadow: 0px 4px 38px #1e1c1a;
  background: linear-gradient(-40deg, #caa468 0%, #ebc48d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.noble-wrapper {
  height: 170px;
  background: url("../images/nobleBg.png") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding-top: 26px;
}

.noble-wrapper .noble-pic,
.noble-wrapper .noble-title {
  margin: 0 auto;
}

.noble-wrapper .noble-pic {
  width: 100px;
  height: 100px;
  background: url("../images/example.png") no-repeat;
  background-size: 700% auto;
  background-position: 0 -100px;
}

.noble-wrapper .noble-title {
  text-align: center;
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.noble-wrapper .noble-title > span {
  color: #dda956;
  font-size: 12px;
  margin: 0 4px;
}

.noble-wrapper .noble-title .leftLine,
.noble-wrapper .noble-title .rightLine {
  width: 30px;
  height: 2px;
}

.noble-wrapper .noble-title .leftLine {
  background: linear-gradient(to right, #161514, #dda956);
}

.noble-wrapper .noble-title .rightLine {
  background: linear-gradient(to right, #dda956, #161514);
}

.noble-wrapper.noble-1 .noble-pic {
  background-position: 100% 0;
}

.noble-wrapper.noble-2 .noble-pic {
  background-position: 83.33333% 0;
}

.noble-wrapper.noble-3 .noble-pic {
  background-position: 66.66667% 0;
}

.noble-wrapper.noble-4 .noble-pic {
  background-position: 50% 0;
}

.noble-wrapper.noble-5 .noble-pic {
  background-position: 33.33333% 0;
}

.noble-wrapper.noble-6 .noble-pic {
  background-position: 16.66667% 0;
}

.noble-wrapper.noble-7 .noble-pic {
  background-position: 0% 0;
}

.section {
  position: absolute;
  top: 6.86667rem;
  z-index: 10;
  background-color: #262322;
  padding-bottom: 1.86667rem;
  margin-top: -0.4rem;
  height: calc(100vh - 9.3333rem);
  width: 100%;
}

.privilege-title-box {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-top: -0.8rem;
  padding-bottom: 0.8rem;
}

.privilege-title-box .huang {
  width: 0.54667rem;
  height: 0.33333rem;
}

.privilege-title-box .privilege-title {
  text-align: center;
  color: #ebcd85;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.privilege-title-box .privilege-title img {
  width: 17px;
  height: 11px;
}

.privilege-title-box .privilege-title div {
  font-size: 15px;
  margin: 0 12px;
}

.privilege-list {
  font-size: 0;
  transform: translate(0, -0.8rem);
}

.privilege-list ul {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  color: #1a1a1a;
  padding-bottom: 0.53333rem;
}

.privilege-list ul li {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
}

.privilege-list ul li img {
  width: 0.64rem;
  height: 0.64rem;
}

.privilege-list ul li div {
  font-size: 12px;
  text-align: center;
  height: 12px;
  line-height: 12px;
  padding-top: 0.21333rem;
  color: #4b4842;
}

.top-msk {
  background-color: pink;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.33333rem;
  width: 100%;
  opacity: 0;
  display: none;
}

.list-tequan-box {
  padding: 0 16px;
}

.list-tequan-box .list-tequan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #ebebeb;
}

.list-tequan-box .list-tequan div {
  font-size: 15px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #333333;
}

.list-tequan-box .list-tequan .right-box {
  display: flex;
  align-items: center;
}

.list-tequan-box .list-tequan .right-box div {
  font-size: 14px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #bd995e;
}

.list-tequan-box .list-tequan .right-box .button {
  width: 45px;
  height: 25px;
}

.list-tequan-box .list-tequan .right-box img {
  width: 6px;
  height: 10px;
  padding-left: 10px;
}

.footer {
  background: #fff;
  height: 50px;
}

.open-win {
  width: 100%;
  height: 50px;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  align-items: center;
  box-sizing: border-box;
  display: none;
}

.open-win .text {
  height: 100%;
  flex: 3;
  background: #18150f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.26667rem;
}

.open-win .text .first .price {
  width: 129px;
  height: 16px;
  font-size: 16px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ebcd85;
  line-height: 16px;
}

.open-win .text .first .price .num {
  margin: 0 0.06667rem;
}

.open-win .text .first .unit {
  font-size: 14px;
  color: #bd9d5f;
}

.open-win .text .second {
  height: 14px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #bd9d5f;
  line-height: 14px;
}

.open-win .text .three {
  font-size: 0.37333rem;
  color: #ebcd85;
  display: none;
}

.open-win .button-wrapper {
  flex: 1.5;
  width: 120px;
  height: 100%;
  text-align: center;
}

.open-win .button-wrapper .button {
  height: 100%;
  line-height: 1.33333%rem;
  font-size: 18px;
  color: #18150f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-win .button-wrapper .open {
  background: linear-gradient(-90deg, #ebcd85, #bd9d5f);
}

.open-win .button-wrapper .shengji {
  background: linear-gradient(90deg, #fc6f6e, #ff3852);
}

.open-win .button-wrapper .con {
  background: linear-gradient(to right, #f87b7b, #e95252);
  display: none;
}

.privilege-box {
  position: fixed;
  z-index: 1500;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: none;
}

.privilege-box .privilege-explain {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -163.5px;
  margin-top: -60%;
  width: 327px;
  min-height: 231px;
  max-height: 512px;
  background: white;
  border-radius: 0.42667rem;
}

.privilege-box .privilege-explain .explain-title {
  position: relative;
  top: -1px;
}

.privilege-box .privilege-explain .explain-title .icon {
  height: 55px;
  background: url("../images/item-1-3.png") no-repeat;
  background-size: 100% 100%;
}

.privilege-box .privilege-explain .explain-title img {
  position: absolute;
  top: 0.8rem;
  left: 50%;
  margin-left: -24px;
  width: 48px;
  height: 48px;
}

.privilege-box .privilege-explain .explain-title p {
  margin-top: 1.01333rem;
  text-align: center;
  font-size: 20px;
  color: #333333;
  font-weight: 600;
}

.privilege-box .privilege-explain .privilege-conten {
  padding: 0 0.64rem;
}

.privilege-box .privilege-explain .privilege-conten .conten-title {
  margin-bottom: 0.69333rem;
}

.privilege-box .privilege-explain .privilege-conten .conten-title .conten {
  width: 276px;
  height: 32px;
  font-size: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #595959;
  line-height: 16px;
}

.privilege-box .privilege-explain .privilege-conten .conten-img img {
  width: 279px;
  margin-top: 0.32rem;
}

.privilege-box .privilege-explain .privilege-conten .title {
  margin-bottom: 0.32rem;
}

.privilege-box .privilege-explain .privilege-conten .title i {
  height: 10px;
  border: 1px solid #efc995;
  margin-right: 6px;
}

.privilege-box .privilege-explain .privilege-conten .title span {
  font-size: 17px;
  font-family: PingFangSC-Medium, PingFang SC;
  color: #333333;
  font-weight: 600;
}

.notOpen-win {
  width: 100%;
  height: 50px;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  line-height: 50px;
  text-align: center;
  font-size: 17px;
  display: none;
  box-shadow: 0px -3px 20px 0px rgba(30, 28, 26, 0.6);
}

.notOpen-win .cur {
  color: #bd995e;
  font-size: 16px;
}

.toast {
  text-align: center;
  position: absolute;
  width: 70%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  left: 50%;
  margin-left: -35%;
  bottom: 10%;
  z-index: 10000;
  padding: 7px 0;
  border-radius: 4px;
  display: none;
}

#__vconsole .vc-switch {
  bottom: 4rem !important;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.slide {
  width: 100%;
  height: 5.01333rem;
  overflow: hidden;
  position: relative;
  transform: translate(0, -15px);
}

.slide .img {
  overflow: hidden;
  position: absolute;
  transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s;
  width: 8.66667rem;
  border-radius: 0.45333rem;
  display: none;
}

.slide .img img {
  width: calc(100%);
  height: calc(101%);
  margin: 0 auto;
  transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s, z-index 0.4s;
}

.slide .img div {
  width: 2.77333rem;
  height: 2.77333rem;
  position: absolute;
}

.slide .img div p {
  font-size: 16px;
  font-weight: bold;
  color: #bd995e;
  text-shadow: 0px 4px 38px #1e1c1a;
  background: linear-gradient(-40deg, #caa468 0%, #ebc48d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  line-height: 6.13333rem;
  width: 2.77333rem;
  height: 3.6rem;
}

.slide .img .nanjue {
  background: url(../images/example.png) no-repeat;
  background-position: -16.66667rem -5px;
  background-size: 700%;
  position: absolute;
  top: 10%;
  left: 33%;
}

.slide .img .zijue {
  background: url(../images/example.png) no-repeat;
  background-position: -13.86667rem -5px;
  background-size: 700%;
  position: absolute;
  top: 10%;
  left: 33%;
}

.slide .img .houjue {
  background: url(../images/example.png) no-repeat;
  background-position: -11.06667rem -0.13333rem;
  background-size: 700%;
  position: absolute;
  top: 10%;
  left: 33%;
}

.slide .img .bojue {
  background: url(../images/example.png) no-repeat;
  background-position: -8.26667rem -0.13333rem;
  background-size: 700%;
  position: absolute;
  top: 10%;
  left: 33%;
}

.slide .img .gongjue {
  background: url(../images/example.png) no-repeat;
  background-position: -5.46667rem -0.13333rem;
  background-size: 700%;
  position: absolute;
  top: 10%;
  left: 33%;
}

.slide .img .guowang {
  background: url(../images/example.png) no-repeat;
  background-position: -2.8rem -0.13333rem;
  background-size: 700%;
  position: absolute;
  top: 10%;
  left: 33%;
}

.slide .img .huangdi {
  background: url(../images/example.png) no-repeat;
  background-position: 0px -0.13333rem;
  background-size: 700%;
  position: absolute;
  top: 10%;
  left: 33%;
}

.slide .img1 {
  width: 40%;
  height: 40%;
  top: 30%;
  left: -50%;
  z-index: 1;
}

.slide .img2 {
  width: 60%;
  height: 60%;
  top: 20%;
  left: -52%;
  z-index: 2;
}

.slide .img3 {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  z-index: 3;
}

.slide .img4 {
  width: 60%;
  height: 60%;
  top: 20%;
  left: 92%;
  z-index: 2;
}

.slide .img5 {
  width: 40%;
  height: 40%;
  top: 30%;
  left: 110%;
  z-index: 1;
}

.slide-bt {
  position: absolute;
  left: 50%;
  bottom: 13%;
  z-index: 10;
}

.nav .add {
  color: #ebcd85;
  border-bottom: 1px solid #bd995e;
}

.textccc {
  color: #b5b5bd;
}

@media only screen and (max-width: 320px) {
  .open-win .text .first .price {
    font-size: 14px;
  }
  .open-win .text .first .present {
    font-size: 12px;
  }
}

@media only screen and (min-height: 690px) {
  body {
    padding-bottom: 50px;
  }
  .open-win,
  .notOpen-win {
    height: 60px;
    bottom: 0px;
  }
}

.navs /deep/.swiper-slide-active .tab-text img {
  width: 2.98667rem;
  height: 0.74667rem;
  margin-top: 0.14667rem;
}

.navs /deep/.swiper-slide-active .tab-text .foot-img {
  display: block;
  width: 3.62667rem;
  height: 0.24rem;
}

.navs /deep/.swiper-slide-active .tab-img img {
  width: 2.88rem;
  height: 2.88rem;
}
