html,
body {
  background: #262324;
}

body {
  padding-bottom: 100px;
}

.title-line {
  width: 100%;
  height: 9px;
}

.payWayWrapper,
.payProWrapper {
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
}

.payWayWrapper .top,
.payProWrapper .top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.payWayWrapper .top .coin,
.payProWrapper .top .coin {
  color: #999999;
}

.pay-tilte {
  font-size: 15px;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #1a1a1a;
  margin: 15px;
  display: none;
}

.payWayBox {
  padding: 0 15px;
  margin-top: 0;
  padding-bottom: 10px;
}

.payWayBox .pay-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  border-radius: 10px;
  height: 49px;
  margin-bottom: 10px;
  border: 1px solid #fff;
  display: none;
}

.payWayBox .pay-box.active {
  background: #fff;
  border: 1px solid #ff894f;
}

.payWayBox .pay-box.active.openFee {
  background: #fff;
}

.payWayBox .pay-box.active.conFee {
  background: #fff;
}

.payWayBox .pay-box .pay-logo {
  display: flex;
  align-items: center;
}

.payWayBox .pay-box .pay-logo img {
  width: 22px;
  height: 22px;
  padding-right: 12px;
  padding-left: 10px;
}

.payWayBox .pay-box .pay-logo span {
  font-size: 15px;
  color: #1a1a1a;
}

.payWayBox .pay-box .pay-money {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.payWayBox .pay-box .pay-money i {
  font-size: 13px;
  color: #808080;
  font-family: PingFang-SC-Regular;
}

.payWayBox .pay-box .pay-money span {
  font-size: 11px;
  color: #ff894f;
  padding-top: 5px;
}

.payProWrapperList {
  padding: 0 12px;
}

.payProWrapperList .payProWrapperTitle {
  font-size: 16px;
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  color: #ebcd85;
  margin-top: 0.32rem;
}

.payProWrapperList .tips {
  color: #1a1a1a;
  font-size: 12px;
  background: white;
  box-shadow: 0px 9px 24px 0px rgba(21, 21, 21, 0.14);
  border-radius: 19px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  margin-right: 0.4rem;
}

.payProWrapperList .tips .yellowTxt {
  color: #ff894f;
}

.payProWrapperList .WrapperList {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.payProWrapperList .WrapperList .WrapperBox {
  background-color: #333333;
  height: 1.54667rem;
  width: 4.37333rem;
  border-radius: px;
  margin-top: 0.13333rem;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  display: none;
  border: 1px solid transparent;
}

.payProWrapperList .WrapperList .WrapperBox:nth-child(1) .connentmoney i, .payProWrapperList .WrapperList .WrapperBox:nth-child(1) .connentmoney .money {
  color: #999;
}

.payProWrapperList .WrapperList .WrapperBox:nth-child(2n-1) {
  margin-right: 0.48rem;
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
  .payProWrapperList .WrapperList .WrapperBox:nth-child(2n-1) {
    margin-right: 0.25rem;
  }
}

.payProWrapperList .WrapperList .WrapperBox .titleTxt .xufei {
  color: #bd995e;
}

.payProWrapperList .WrapperList .WrapperBox.active {
  border: 1px solid #f7b500;
}

.payProWrapperList .WrapperList .WrapperBox .huangdi {
  width: 42px;
  height: 42px;
  margin-left: 4px;
  margin-right: 4px;
}

.payProWrapperList .WrapperList .WrapperBox .huangdi div {
  width: 42px;
  height: 42px;
  background: url("../images/icon_noble_king@2x.png") no-repeat;
  background-size: 100% 100%;
}

.payProWrapperList .WrapperList .WrapperBox .guowang {
  width: 42px;
  height: 42px;
  margin-left: 4px;
  margin-right: 4px;
}

.payProWrapperList .WrapperList .WrapperBox .guowang div {
  width: 42px;
  height: 42px;
  background: url("../images/icon_noble_earl@2x.png") no-repeat;
  background-size: 100% 100%;
}

.payProWrapperList .WrapperList .WrapperBox .gongjue {
  width: 42px;
  height: 42px;
  margin-left: 4px;
  margin-right: 4px;
}

.payProWrapperList .WrapperList .WrapperBox .gongjue div {
  width: 42px;
  height: 42px;
  background: url("../images/icon_noble_baron@2x.png") no-repeat;
  background-size: 100% 100%;
}

.payProWrapperList .WrapperList .WrapperBox .houjue {
  width: 42px;
  height: 42px;
  margin-left: 4px;
  margin-right: 4px;
}

.payProWrapperList .WrapperList .WrapperBox .houjue div {
  width: 42px;
  height: 42px;
  background: url("../images/icon_noble_marquis@2x.png") no-repeat;
  background-size: 100% 100%;
}

.payProWrapperList .WrapperList .WrapperBox .bojue {
  width: 42px;
  height: 42px;
  margin-left: 4px;
  margin-right: 4px;
}

.payProWrapperList .WrapperList .WrapperBox .bojue div {
  width: 42px;
  height: 42px;
  background: url("../images/icon_noble_viscount@2x.png") no-repeat;
  background-size: 100% 100%;
}

.payProWrapperList .WrapperList .WrapperBox .zijue {
  width: 42px;
  height: 42px;
  margin-left: 4px;
  margin-right: 4px;
}

.payProWrapperList .WrapperList .WrapperBox .zijue div {
  width: 42px;
  height: 42px;
  background: url("../images/ic_noble_advanced@2x.png") no-repeat;
  background-size: 100% 100%;
}

.payProWrapperList .WrapperList .WrapperBox .nanjue {
  width: 42px;
  height: 42px;
  margin-left: 4px;
  margin-right: 4px;
}

.payProWrapperList .WrapperList .WrapperBox .nanjue div {
  width: 42px;
  height: 42px;
  background: url("../images/icon_noble_primary@2x.png") no-repeat;
  background-size: 100% 100%;
}

.payProWrapperList .WrapperList .WrapperBox .connentmoney {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.payProWrapperList .WrapperList .WrapperBox .connentmoney i {
  color: white;
  font-size: 14px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  font-style: normal;
}

.payProWrapperList .WrapperList .WrapperBox .connentmoney .money {
  font-size: 10px;
  color: white;
  opacity: 0.8;
}

.payWay {
  margin-top: 0.4rem;
  padding: 0 16px;
  display: none;
}

.payWay .payWayTitle {
  font-size: 16px;
  color: #ebcd85;
  margin-bottom: 0.64rem;
}

.payWay .WeChat,
.payWay .Alipay {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payWay .WeChat .lfet img,
.payWay .Alipay .lfet img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 0.32rem;
}

.payWay .WeChat .lfet span,
.payWay .Alipay .lfet span {
  font-size: 12px;
  color: white;
}

.payWay .WeChat {
  margin-bottom: 0.66667rem;
}

.payWay .WeChat .balance {
  position: absolute;
  right: 1.6rem;
  font-size: 12px;
  color: #ebcd85;
}

.payWay .WeChat .right {
  width: 24px;
  height: 24px;
}

.payWay .WeChat .right .checkBox1 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/ic_selected_vip@2x.png") no-repeat;
  background-size: 100% 100%;
}

.payWay .WeChat .right .checkBox2 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/ic_selected_not_vip@2x.png") no-repeat;
  background-size: 100% 100%;
  display: none;
}

.payWay .Alipay .right {
  width: 24px;
  height: 24px;
}

.payWay .Alipay .right .checkBox1 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/ic_selected_vip@2x.png") no-repeat;
  background-size: 100% 100%;
  display: none;
}

.payWay .Alipay .right .checkBox2 {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/ic_selected_not_vip@2x.png") no-repeat;
  background-size: 100% 100%;
}

.buttonWrapper {
  box-shadow: 0px -3px 40px 0px rgba(30, 28, 26, 0.25);
  width: 75vw;
  position: fixed;
  bottom: 8%;
  left: 13%;
  height: 44px;
  border-radius: 44px;
  z-index: 999;
}

.buttonWrapper .tips {
  font-size: 12px;
  color: #999999;
  text-align: center;
  line-height: 20px;
  margin-bottom: 4px;
}

.buttonWrapper .tips span {
  color: #ff3c00;
}

.buttonWrapper .tips.check {
  color: #fff;
}

.buttonWrapper .tips.check span {
  color: #fff;
}

.buttonWrapper .payButton {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  color: #f7c98e;
  line-height: 38px;
  border-radius: 44px;
  height: 38px;
  background: linear-gradient(-90deg, #dfa457, #ae6943, #ae6943, #e0a558);
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  margin: 8px 15px;
}

.buttonWrapper .payButton span {
  font-family: PingFang-SC-Regular;
  font-weight: bold;
  font-size: 15px;
  color: #522f0c;
}

.payFail,
.copySucess {
  text-align: center;
  position: absolute;
  width: 70%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  left: 50%;
  margin-left: -35%;
  bottom: 10%;
  z-index: 10000;
  padding: 7px 0;
  border-radius: 4px;
  display: none;
}

.payAlipayQuestion,
.payWeChatQuestion,
.paySuccess,
.payEnsure {
  position: fixed;
  z-index: 1500;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.payAlipayQuestion .win,
.payWeChatQuestion .win,
.paySuccess .win,
.payEnsure .win {
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  padding-top: 35px;
}

.payAlipayQuestion .win .iconClose,
.payWeChatQuestion .win .iconClose,
.paySuccess .win .iconClose,
.payEnsure .win .iconClose {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: url("../images/spirit.png") no-repeat;
  background-size: 3500% auto;
  background-position: 56.7% 84%;
}

.payAlipayQuestion .win .praph,
.payWeChatQuestion .win .praph,
.paySuccess .win .praph,
.payEnsure .win .praph {
  color: #4d4d4d;
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.payAlipayQuestion .win .msg,
.payWeChatQuestion .win .msg,
.paySuccess .win .msg,
.payEnsure .win .msg {
  text-align: center;
  font-size: 15px;
}

.payAlipayQuestion .win .msg p,
.payWeChatQuestion .win .msg p,
.paySuccess .win .msg p,
.payEnsure .win .msg p {
  line-height: 24px;
}

.payAlipayQuestion .win .msg p .copyBtn,
.payWeChatQuestion .win .msg p .copyBtn,
.paySuccess .win .msg p .copyBtn,
.payEnsure .win .msg p .copyBtn {
  font-size: 12px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;
  color: #009fe8;
  border: 1px solid #009fe8;
  padding: 0 4px;
  border-radius: 4px;
}

.payAlipayQuestion .win .button,
.payWeChatQuestion .win .button,
.paySuccess .win .button,
.payEnsure .win .button {
  width: 250px;
  margin: 10px auto 0;
  text-align: center;
  height: 38px;
  line-height: 38px;
  border-radius: 19px;
}

.payAlipayQuestion .win .coinPayButton,
.payWeChatQuestion .win .coinPayButton,
.paySuccess .win .coinPayButton,
.payEnsure .win .coinPayButton {
  background: #fed700;
}

.payAlipayQuestion .win .alipayButton,
.payWeChatQuestion .win .alipayButton,
.paySuccess .win .alipayButton,
.payEnsure .win .alipayButton {
  border: 1px solid #fed700;
}

.payAlipayQuestion {
  display: none;
}

.payAlipayQuestion .win {
  height: 200px;
}

.payWeChatQuestion {
  display: none;
}

.payWeChatQuestion .win {
  height: 250px;
}

.paySuccess {
  display: none;
}

.paySuccess .win {
  width: 200px;
  height: 200px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paySuccess .win p {
  font-size: 20px;
}

.paySuccess .win p:before {
  display: block;
  margin: 0 auto 10px;
  width: 50px;
  height: 50px;
  background: url("../images/paySuccess.png") no-repeat;
  background-size: cover;
  content: "";
}

#loading {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.6);
}

#loading #wrap {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  border-radius: 4px;
}

#loading #wrap .spinner {
  width: 70px;
  height: 70px;
  position: relative;
}

#loading #wrap .text {
  margin-top: 30px;
}

#loading #wrap .container1 > div,
#loading #wrap .container2 > div {
  width: 12px;
  height: 12px;
  background-color: #f0c778;
  border-radius: 100%;
  position: absolute;
  text-align: center;
  line-height: 60px;
  animation: round 2s infinite ease-in-out;
  /*animation-fill-mode: both;*/
}

#loading #wrap .spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#loading #wrap .container2 {
  transform: rotateZ(45deg);
}

#loading #wrap .circle1 {
  top: 0;
  left: 0;
}

#loading #wrap .circle2 {
  top: 0;
  right: 0;
}

#loading #wrap .circle3 {
  right: 0;
  bottom: 0;
}

#loading #wrap .circle4 {
  left: 0;
  bottom: 0;
}

#loading #wrap .container2 .circle1 {
  animation-delay: -1.4s;
}

#loading #wrap .container1 .circle2 {
  animation-delay: -1.2s;
}

#loading #wrap .container2 .circle2 {
  animation-delay: -1s;
}

#loading #wrap .container1 .circle3 {
  animation-delay: -0.8s;
}

#loading #wrap .container2 .circle3 {
  animation-delay: -0.6s;
}

#loading #wrap .container1 .circle4 {
  animation-delay: -0.4s;
}

#loading #wrap .container2 .circle4 {
  animation-delay: -0.2s;
}

.payEnsure {
  display: none;
}

.payEnsure .win {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.payEnsure .win .text {
  text-align: center;
}

.payEnsure .win .button {
  border-radius: 19px;
}

.payEnsure .win .button-wrapper {
  margin-top: 18px;
}

.payEnsure .win .cancel {
  border: 1px solid #fed700;
}

.payEnsure .win .sure {
  background: #fed700;
}

.toast {
  position: absolute;
  width: 150px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 10%;
  display: none;
  z-index: 9999;
}

@-webkit-keyframes round {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@keyframes round {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 320px) {
  body {
    padding-bottom: 90px;
  }
  .payProWrapper ul li .part .partTitle {
    font-size: 13px;
    line-height: 16px;
  }
  .payProWrapper ul li .part .partDetail {
    font-size: 12px;
  }
}
