html,
body {
  width: 100%;
  height: 100%;
  background-color: #262322;
}

.max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  -webkit-box-pack: start;
  -ms-justify-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.max .user-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  -webkit-box-pack: start;
  -ms-justify-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  width: 9.2rem;
  height: 1.06667rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 10px 0px lightgray;
          box-shadow: 0px 3px 10px 0px lightgray;
  margin-top: 0.4rem;
  position: relative;
  overflow: hidden;
}

.max .user-inside .recommend-avatar {
  width: 0.64rem;
  height: 0.64rem;
  position: absolute;
  left: 0.26667rem;
}

.max .user-inside .recommend-avatar img {
  width: 100%;
  height: 100%;
}

.max .user-inside input {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  -webkit-box-pack: start;
  -ms-justify-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 1.06667rem;
  background: #f0f0f0;
  outline: none;
  font-size: 16px;
  color: #a7a7a7;
}

.max .user-inside input::-webkit-input-placeholder {
  color: #b3b3b3;
}

.max .user-inside input::-moz-input-placeholder {
  color: #b3b3b3;
}

.max .user-inside input::-ms-input-placeholder {
  color: #b3b3b3;
}

.max .tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  -webkit-box-pack: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 0.66667rem;
  width: 9.24rem;
}

.max .tip p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  -webkit-box-pack: justify;
  -ms-justify-content: space-between;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 2px;
  color: #ebcd85;
  font-size: 16px;
  width: 100%;
  height: 1.06667rem;
}

.max .tip p span.times {
  color: #ff3852;
}

.max .recommend-btn {
  width: 6.48rem;
  height: 1.17333rem;
  border-radius: 20px;
  background-color: #cfa96e;
  position: absolute;
  bottom: 1.86667rem;
  font-size: 18px;
  color: #f7c98e;
  background: -o-linear-gradient(315deg, #dfa457 0%, #ae6943 37%, #ae6943 54%, #e0a558 100%);
  background: linear-gradient(135deg, #dfa457 0%, #ae6943 37%, #ae6943 54%, #e0a558 100%);
  -webkit-box-shadow: 0px 6px 16px 0px rgba(68, 30, 5, 0.6);
          box-shadow: 0px 6px 16px 0px rgba(68, 30, 5, 0.6);
  border-radius: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  -webkit-box-pack: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
}

.max .mask {
  width: 7.86667rem;
  height: 4.85333rem;
  border-radius: 5px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  -webkit-box-pack: start;
  -ms-justify-content: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  z-index: 11;
  left: 50%;
  top: 50%;
  margin-left: -3.93333rem;
  margin-top: -2.42667rem;
  display: none;
}

.max .mask .tips {
  font-size: 16px;
  color: #333;
  margin-top: 0.78667rem;
  margin-bottom: 0.74667rem;
}

.max .mask .content {
  font-size: 14px;
  color: #333;
}

.max .mask .mask-btn {
  width: 100%;
  margin-top: 0.88rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  -webkit-box-pack: justify;
  -ms-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
}

.max .mask .mask-btn p {
  color: #ff894f;
  font-size: 15px;
  background-color: #f0f0f0;
  width: 3.73333rem;
  height: 1.01333rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-box;
  -webkit-box-pack: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-align-items: center;
  -ms-flex-align: center;
      align-items: center;
}

.max .mask .mask-btn p.confirm {
  background-color: #ff894f;
  color: white;
}

.max .shade {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}

.max .toast {
  position: fixed;
  width: 6.66667rem;
  height: 1.33333rem;
  background-color: black;
  opacity: 0.7;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  margin-left: -3.33333rem;
  margin-top: -0.66667rem;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 1.33333rem;
  display: none;
}
