body,
html {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
}
.applyComplete {
  width: 100%;
  height: 100%;
}
.applyComplete .progressWrapper {
  height: 200px;
  position: relative;
  background: linear-gradient(to right, #f6d37a, #d6a85b);
  overflow: hidden;
}
.applyComplete .progressWrapper .wave1,
.applyComplete .progressWrapper .wave2 {
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  background-size: 50% auto;
}
.applyComplete .progressWrapper .wave1 {
  background-image: url('../images/wave1.png');
  animation: move_wave 5s linear infinite;
}
.applyComplete .progressWrapper .wave2 {
  background-image: url("../images/wave2.png");
  animation: move_wave 3s linear infinite;
}
.applyComplete .progress {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.applyComplete .progress:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid #fff;
}
.applyComplete .progress p {
  color: #fff;
}
.applyComplete .progress p:before {
  display: block;
  content: '';
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background: url('../images/spirit.png') no-repeat;
  margin-bottom: 10px;
  background-size: 1166.66666667% auto;
  background-position: 78.5% 96.3%;
}
.applyComplete .contentWrapper {
  padding: 0 4%;
}
.applyComplete .contentWrapper .text {
  padding: 40px 0;
  text-align: center;
}
.applyComplete .contentWrapper .text p {
  line-height: 20px;
  margin-top: 8px;
}
.applyComplete .contentWrapper .text p:first-child {
  font-weight: bold;
}
.applyComplete .contentWrapper .text p:nth-child(2) {
  font-size: 14px;
}
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(1.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
